build/
build-*/
*.pro.user
*.pro.user.*
*.o
moc_*.cpp
ui_*.h
qrc_*.cpp
.qmake.stash
Makefile*

data/
logs/
config/app.ini
database/backups/*.db
database/backups/*.sqlite

*.db
*.db-shm
*.db-wal
*.sqlite
*.log
core
core.*
